.btn {
    padding: .5rem 2rem; 
    color: white;
    background: black;
    width: 100%;
    border: 2px solid black;
    cursor: pointer;
  }

  .blue {
    border: 2px solid dodgerblue;
    background: dodgerblue;
  }

  .red  {
    border: 2px solid red;
    background: red;
  }